<!-- Tabs -->
<div ng-init="$parent.tabs = {}; $parent.currentModuleTab=false"></div>

<div class="row card">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" ng-repeat="(key, tabName) in tabs">
            <a ng-click="$parent.currentModuleTab = key" ng-class="{active: $parent.currentModuleTab == key}">
                {{ tabName }}
            </a>
        </li>
      </ul>
    </div>
</div>
