<!-- Costs for the playerElement -->
<ul class="collection row">
    <li>
        <span ng-repeat="cost in playerElement.element.costs" class="pull-left">
            <img ng-src="{{ cost.cost.properties.picture }}" width="30" alt="{{ cost.cost.name }}" /></span>
            {{ cost.quantity }}</span>
        </span>
    <li>
</ul>
