<!-- Stats for the playerElement -->
<ul class="collection row">
    <li ng-repeat="stat in data.%elementsName%Stats">
        <span class="col-md-6">{{ stat.name }}</span>
        <span class="col-md-6" ng-repeat="(propertyName, propertyValue) in playerElement.properties" ng-if="propertyName == stat.name">{{ propertyValue }}</span>
    <li>
</ul>
