default:

    suites:
        default:
            paths: [ "%paths.base%/modules/"]
            contexts:
                - 'Behat\MinkExtension\Context\MinkContext'
                - 'Sanpi\Behatch\Context\RestContext'
                - 'Sanpi\Behatch\Context\JsonContext'
                - Context\FeatureContext
