<html>
    <head>
        <title>Dev env Jcray</title>
        <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
        <link href="assets/vendor/materialize/dist/css/materialize.min.css" media="all" rel="stylesheet" />
        <link rel="stylesheet" href="assets/vendor/components-font-awesome/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>
    <body ng-app="jcrayApp">
        <div ng-controller="appCtrl">
            <style>
                body{ background: transparent; }
                html {
                    background: url('http://jcray.tech/bundles/app/images/logoJcray.png') no-repeat center center #546e7a!important;
                }
            </style>
            <div ng-if="!bearer">
                <div class="row">
                    <nav class="col-md-12 blue-grey">
                        <h3 class="brand-logo" style="font-size: 13px;">
                            ... Requesting token ...
                        </h3>
                    </nav>
                </div>
            </div>
            <div ng-if="bearer">
                <div id="content">
                    <div class="row">
                        <nav class="col-md-12 blue-grey">
                            <h3 class="brand-logo">
                                <a  href="#" style="position:relative; z-index:99;" ng-click="mode == 'admin'?mode='game':mode='admin';">
                                    {{ mode | uppercase}} <span ng-if="currentModule">{{ currentModule. name}}</span>
                                </a>
                            </h3>
                            <div class="nav-wrapper">
                                <ul class="right hide-on-med-and-down">
                                    <li ng-repeat="(name, module) in modules"><a href="#" ng-click="setCurrentModule(name, module)">{{ name }}</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="row" ng-if="currentModule">
                        <div class="error" ng-if="lastError">
                            <div class="showback" ng-if="currentGame.modules.length">
                                <h4><strong>{{ 'An error happened...' |trans }}</strong></h4>
                                <blockquote>{{ lastError }}</blockquote>
                            </div>
                        </div>

                        <div ng-if="mode == 'admin' && currentModule" class="col-md-12">
                            <div ng-if="renderable">
                                <div ng-include=" 'admin'+currentModule.name+'Template.html' "></div>
                            </div>
                            <div ng-if="!renderable">
                                <div class="valign-wrapper">
                                    <h5 class="valign">
                                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                        Loading module data...
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div ng-if="mode == 'game' && currentModule" class="col-md-12">
                            <div ng-if="renderable">
                                <div ng-include=" 'game'+currentModule.name+'Template.html' "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/token.auto.js"></script>
        <script src="assets/vendor/jquery/dist/jquery.min.js" ></script>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="assets/vendor/angular/angular.min.js" ></script>
        <script src="assets/vendor/angular-cookies/angular-cookies.min.js" ></script>
        <script src="assets/modules.auto.js" ></script>
        <script src="assets/jcray.js" ></script>
    </body>
</html>
